#mail{
    text-decoration: none;
    color: #7d7180;
    font-size: 16px;
    font-weight: bold;
}

#mailmelogo{
    border-style: hidden;
    border-radius:5px;
    width:15px;
    height:15px;
}
.social-icon{
    margin: 0 15px 5px 0;
}